{%extends 'base.html'%}
{% block content %}
{{block.super}}

  <div class="row">
  <div class="col-md-12">
{% for post in posts %}
<div class="col-md-6" style="padding:1%">
    <div class="card">
    <h3 class="text-center">Title: {{post.title}}</h3><hr>
    <h3 class="text-center">Neighbourhood: {{post.neighbourhood}}</h3><hr>
    <h3 class="text-center">Post: {{post.post}}</h3><hr>
    <h3 class="text-center">Posted By: {{user}}</h3><hr>
    <h3 class="text-center">Posted on:{{post.pub_date}}</h3>


    <h2></h2>  
  </div>
</div>
</div>
</div>



{% endfor %}
  
  {% endblock %}
 

